.heading-wrapper {
  // border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding: 0;
}

.heading {
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 0;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.search-bar {
  margin-top: 40px;
  padding: 0;
  input {
    height: 39px;
  }
    #search {
      width: 120px;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
    }
    #search:focus {
      min-width: 270px;
      -webkit-transition: all 0.6s ease-in;
      -moz-transition: all 0.6s ease-in;
      -o-transition: all 0.6s ease-in;
      transition: all 0.6s ease-in;
    }
}

.action-column {
  min-width: 177px;
}

.inline-class {
  label {
    float: left;
  }
  .radio {
    float: left;
  }
}

.navbar {
  background-color: #F9F9F9;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  border-bottom: 1px solid #337AB7;
  position: fixed;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  z-index: 1;
}