.heading-wrapper {
  // border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding: 0;
}

.heading {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.search-bar {
  margin-top: 30px;
  padding: 0;
  input {
    height: 39px;
  }
    #search {
      width: 130px;
    }
    #search:focus {
      min-width: 270px;
      -webkit-transition: all 0.6s ease-in;
      -moz-transition: all 0.6s ease-in;
      -o-transition: all 0.6s ease-in;
      transition: all 0.6s ease-in;
    }
}

.action-column {
  min-width: 177px;
}